{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>{{ character.name }}'s Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ character.name }}</span>
        <h6>Class: {{ character.get_starting_class_display }}</h6>
        {% if character.starting_class == 'K' %}
        <img src="{% static 'knight.jpeg' %}" alt="Knight">
    {% elif character.starting_class == 'A' %}
        <img src="{% static 'assassin.jpeg' %}" alt="Assassin">
    {% elif character.starting_class == 'C' %}
        <img src="{% static 'cleric.jpeg' %}" alt="Cleric">
    {% elif character.starting_class == 'D' %}
        <img src="{% static 'deprived.jpeg' %}" alt="Deprived">
    {% elif character.starting_class == 'H' %}
        <img src="{% static 'herald.jpeg' %}" alt="Herald">
    {% elif character.starting_class == 'M' %}
        <img src="{% static 'mercenary.jpeg' %}" alt="Mercenary">
    {% elif character.starting_class == 'P' %}
        <img src="{% static 'pyromancer.jpeg' %}" alt="Pyromancer">
    {% elif character.starting_class == 'S' %}
        <img src="{% static 'sorcerer.jpeg' %}" alt="Sorcerer">
    {% elif character.starting_class == 'T' %}
        <img src="{% static 'thief.jpeg' %}" alt="Thief">
    {% elif character.starting_class == 'W' %}
        <img src="{% static 'warrior.jpeg' %}" alt="Warrior">
    {% endif %}

        <h6>Attributes:</h6>
        <ul>
        {% for attr, value in character.starting_attributes.items %}
            <li>{{ attr }}: {{ value }}</li>
        {% endfor %}
        </ul>
        <h6>Weapon: {{character.get_starting_weapon_display}}</h6>
        <h6>Gift: {{character.get_starting_gift_display}}</h6>
        <h6>Level: {{ character.level }}</h6>
        <div class="card-action">
            <a href="{% url 'character_update' character.id %}">Reallocate Attributes</a>
            <a href="{% url 'character_delete' character.id %}">Banish</a>
        </div>
        <!-- adding form for button that will generate story when clicked-->
        <form method="POST" action="{% url 'character_story' character.id %}" id="story-form">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Touch Bloodstain</button>
        </form>
    </div>
</div>
{% if story %}
<div class="card">
    <div class="card-content">
        <span class="card-title">{{character.name}}'s Story</span>
        <h6>{{story}}</h6>
        </div>
    </div>
{% endif %}

<style>
    h1 {
        font-size: 36px;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
    }

    .card {
        background-color: #0e0e0f;
        border: 2px solid #343a40;
        border-radius: 10%;
        margin-top: 20px;
        padding: 20px;
        opacity: 0.9;
        width: 100%;
    }

    .card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-action a {
        color: #ffc107;
        font-weight: bold;
    }

    .card img {
        max-width: 35%;
        height: auto;
        margin: 20px;
    }

    .btn {
        font-family: "Old English Text MT", "Blackletter", serif;
        background-color: #343a40;
        text-align: center;
        color: #8f0909;
        border: 2px solid #8f0909;
        padding: 5px 10px;
        margin-right: 10px;
        margin-bottom: 10px;
        transition: background-color 0.2s, border-color 0.2s, color 0.2s;
        line-height: 13px;
    }

    .btn:hover,
    .btn:focus {
        background-color: #8f0909;
        color: #212529;
        border-color: #212529;
    }

    .attr-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    .attr-list li {
        margin-bottom: 5px;
    }

    .attr-name {
        font-weight: bold;
        margin-right: 5px;
    }

    .weapon-label {
        font-weight: bold;
        margin-right: 5px;
    }

    .gift-label {
        font-weight: bold;
        margin-right: 5px;
    }

    .story-card {
        background-color: #212529;
        border: 2px solid #343a40;
        margin-top: 20px;
        padding: 20px;
    }

    .story-card-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    img {
        border: 2px solid #343a40;
        border-radius: 25%;
    }

  

</style>

{% endblock %}