/* body {
    background-color: #0f0f0f;
  }
  
  nav {
    background-color: #1c1c1c;
  }
  
  nav a {
    color: #ffffff;
  }
  
  nav a:hover {
    color: #ff6600;
  }
  
  .brand-logo {
    color: #ffffff;
  }
  
  .brand-logo:hover {
    color: #ff6600;
  }
  
  .page-footer {
    background-color: #1c1c1c;
    color: #ffffff;
  } */