body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #0f0f0f;
    background-image: url(../irithyll.gif);
    background-size: cover;
    background-position: center;
    color: #fff;
    font-family: "Old English Text MT", "Blackletter", serif;
    margin: 0;
    padding: 0;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
  }
  

  nav {
    background-color: #222;
    opacity: 0.9;
  }
  
  nav a {
    color: #fff;
  }
  
  
  .brand-logo {
    font-size: 2rem;
  }
  

  
  .btn {
    background-color: #ff9900;
    border-radius: 25px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .btn:hover {
    background-color: #b00;
  }
  
  .card-panel {
    background-color: #444;
    color: #fff;
  }
  
  .page-footer {
    background-color: #222;
    color: #fff;
    font-size: 11px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  h1 {
    text-align: center;
  }


  
  nav {
    background-color: #1c1c1c;
  }
  
  nav a,
  .brand-logo {
    animation: fire 1s infinite alternate;
  }
  
  @keyframes fire {
    0% {
      color: #ffffff;
      text-shadow: 0 0 10px #fff, 0 0 20px #ff9900, 0 0 30px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 60px #ff9900;
    }
    20% {
      color: #ff9900;
      text-shadow: 0 0 10px #fff, 0 0 20px #ff9900, 0 0 30px #ff9900, 0 0 40px #ff9900, 0 0 50px #ff9900, 0 0 60px #ff9900;
    }
    40% {
      color: #ffcc33;
      text-shadow: 0 0 10px #fff, 0 0 20px #ffcc33, 0 0 30px #ffcc33, 0 0 40px #ffcc33, 0 0 50px #ff9900, 0 0 60px #ff9900;
    }
    60% {
      color: #ff9933;
      text-shadow: 0 0 10px #fff, 0 0 20px #ff9933, 0 0 30px #ff9933, 0 0 40px #ff9933, 0 0 50px #ffcc33, 0 0 60px #ffcc33;
    }
    80% {
      color: #ff3300;
      text-shadow: 0 0 10px #fff, 0 0 20px #ff3300, 0 0 30px #ff3300, 0 0 40px #ff9933, 0 0 50px #ff9933, 0 0 60px #ffcc33;
    }
    100% {
      color: #ff0000;
      text-shadow: 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff3300, 0 0 40px #ff3300, 0 0 50px #ff9933, 0 0 60px #ffcc33;
    }
  }


  @media (max-width: 576px) {
    .brand-logo {
      font-size: 1.2rem;
    }
    
    nav {
      flex-direction: column;
      align-items: center;
    }
    
    nav li {
      margin: 10px 0;
    }
    
    nav a,
    .brand-logo {
      animation: none;
    }
    
    h1 {
      font-size: 1.2rem;
    }
    
    .page-footer {
      font-size: 8px;
    }
    
    .card-panel {
      border-radius: 0;
    }
    
    .btn {
      border-radius: 0;
    }
  }